# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.paphdrp.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\GitRepos\paphdrp\.idea\.idea.paphdrp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
